body {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  margin: 1rem;
}

button {
  margin: 2rem;
  text-align: center;
  width: 10vh;
}

.footer,
.header {
  background-color: rgba(133, 162, 200, 0.453);
  width: 100%;
}
