body {
  display: flex;
  text-align: center;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin: 20px;
  list-style: none;
}

div#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  margin: 2rem;
  text-align: center;
  width: 10vh;
}

.footer,
.header {
  background-color: rgba(133, 162, 200, 0.453);
  width: 100%;
}
